.hero {
  background: url("/images/avatar.webp") center/cover no-repeat;
  height: 60vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  position: relative;
  margin-bottom: 2rem;
}

.hero-overlay {
  background: rgba(0, 0, 0, 0.4);
  padding: 2rem;
  border-radius: 1rem;
  text-align: center;
}
